@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap');

* { 
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Raleway, sans-serif;
    color: #505050;
}

/* navigation links */

#logo {
    float: right;
    margin-right: 20px;
    line-height: 50px;
}

#menu {
    letter-spacing: 2px;
    line-height: 50px;

}

#menu li {
    float: left;
    margin-left: 20px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

#menu a:hover {
    color: #00BAC4;
}

.active {
    color: #00BAC4 !important;
}

/* hero image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center top;
    overflow: hidden;
}

#hero-text {
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    top: 18%;
    right: 15%;
    color: white;
    font-family: Lato, sans-serif;

    /*

    width: 550px;
    height: 105px;

    border-radius: 15px;

    padding: 20px 0px 20px 0px; 

    background-color: rgb(0, 186, 196, .3)
 */
}

/* gym intro */

#welcome {
    height: 100px;
    width: 100%;
}

#welcome h1 {
    text-align: center;
    line-height: 100px;
    letter-spacing: 2px;
    background-color: #00BAC4;
    color: white;
    font-family: Lato, sans-serif;
}

#intro {
    height: 300px;
}

#top-left-image {
    height: 340px;
    width: 40%;
    padding: 0 5% 0 5%;
    background: url(../images/gym-1.jpg) no-repeat center bottom;
    overflow: hidden;
    background-clip: content-box;
    float: left;
}

#top-right-text {
    height: 260px;
    width: 40%;
    padding: 160px 5% 0 5%;
    font-family: Lato, sans-serif;
    background-clip: content-box;
    float: right;
    font-size: 20px;
}

