@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Raleway, sans-serif;
    color: #505050;
}

/* navigation links */

#logo {
    float: left;
    padding-left: 20px;
    line-height: 50px;
    letter-spacing: 1px;
    background-color: white;
    color: #505050;
}

#menu {
    letter-spacing: 2px;
    line-height: 50px;
    background-color: white;
    height: 50px;
}

#menu li {
    float: right;
    margin-right: 20px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

#menu a:hover {
    color: #00BAC4;
}

.active {
    color: #00BAC4 !important;
}

/* hero image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center top;
    overflow: hidden;
}

#hero-text {
    /* font */
    font-weight: 900;
    font-size: 30px;
    font-family: Lato, sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    /* position */
    position: relative;
    top: 18%;
    right: 15%;
    /* colour */
    color: white;
}

/* gym intro */

#welcome {
    height: 150px;
    width: 100%;
    font-size: 200%;
}

#welcome h2 {
    text-align: center;
    line-height: 150px;
    letter-spacing: 2px;
    background-color: #00BAC4;
    color: white;
    font-family: Lato, sans-serif;
}

#intro {
    height: 600px;
}

#top-left-image {
    /* size and position */
    height: 450px;
    width: 40%;
    padding: 0 5% 0 5%;
    float: left;
    /* image */
    background: url(../images/gym-1.jpg) no-repeat center;
    overflow: hidden;
    background-clip: content-box;
}

#top-right-text {
    /* size and position */
    height: 290px;
    width: 40%;
    padding: 160px 5% 0 5%;
    background-clip: content-box;
    float: right;
    /* font */
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 150%;
}

/* gym breakdown */

#breakdown-left {
    height: 280px;
    width: 33%;
    float: left;
    padding-top: 20px;
}

#breakdown-right {
    height: 280px;
    width: 33%;
    float: right;
    padding-top: 20px;
}

#breakdown-centre {
    height: 280px;
    width: 33%;
    margin: 0 auto;
    padding-top: 20px;
}

hr {
    border-top: 6px solid #00BAC4;
    width: 50%;
    text-align: right;
    margin: 0 0 0 25%;
}

.breakdown-headings {
    text-align: center;
    color: white;
    background-color: #505050;
}

.breakdown-headings i {
    margin: 10px 0 20px;
    font-size: 60px;
}

.breakdown-headings p {
    width: 50%;
    font-size: 20px;
    margin: 20px 0 0 25%;
    color: white;
    font-family: Lato, sans-serif;
}

/* outro */

#bottom-right-image {
    /* size and position */
    height: 300px;
    width: 40%;
    margin: 75px 0 75px 0;
    padding: 0 5% 0 5%;
    float: right;
    /* image */
    background: url(../images/gym-2.jpg) no-repeat center;
    overflow: hidden;
    background-clip: content-box;
}

#bottom-left-text {
    /* size and position */
    height: 290px;
    width: 40%;
    padding: 140px 5% 0 5%;
    float: left;
    background-clip: content-box;
    /* font */
    font-size: 150%;
    text-align: center;
    font-family: Lato, sans-serif;


}

/* footer */

.social-networks {
    height: 50px;
    width: 100%;
    background-color: #00BAC4;
    text-align: center;
    float: left;
}

.social-networks i {
    float: left;
    width: 33%;
    font-size: 30px;
    color: white;
    line-height: 50px;
}

/* classes */

#timetable {
    /* size and position */
    height: 150px;
    width: 100%;
    float: left;
    /* font */
    text-align: center;
    line-height: 150px;
    font-family: Lato, sans-serif;
    font-size: 150%;
    letter-spacing: 2px;
    /* color */
    background-color: #505050;
    color: white;
}

.classes {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

.classes p {
    font-weight: 900;
    color: black;
    margin-top: 5%;
    font-family: Lato, sans-serif;
}

.day {
    height: 75px;
    width: 100%;
    float: left;
    line-height: 75px;
    background-color: #00BAC4;
    margin-bottom: 50px;
    color: #505050;
}

.class-one {
    height: 250px;
    width: 33%;
    float: left;
    background: url(../images/body-burn.jpg) no-repeat center;
    margin-bottom: 50px;
}

.class-two {
    height: 250px;
    width: 33%;
    float: left;
    background: url(../images/boxercise.jpg) no-repeat center;
    margin-bottom: 50px;
}

.class-three {
    height: 250px;
    width: 33%;
    float: left;
    background: url(../images/yoga.jpg) no-repeat center;
    margin-bottom: 50px;
}

.class-four {
    height: 250px;
    width: 33%;
    float: left;
    background: url(../images/cardio.jpg) no-repeat center;
    margin-bottom: 50px;
}

.class-five {
    height: 250px;
    width: 33%;
    float: left;
    background: url(../images/circuit-training.jpg) no-repeat center;
    margin-bottom: 50px;
}

.class-six {
    height: 250px;
    width: 33%;
    float: left;
    background: url(../images/kettlebell.jpg) no-repeat center;
    margin-bottom: 50px;
}

/* membership page */

#membership {
    /* size and position */
    height: 150px;
    width: 100%;
    float: left;
    text-align: center;
    /* font */ 
    line-height: 150px;
    font-family: Lato, sans-serif;
    font-size: 200%;
    letter-spacing: 2px;
    /* colour */
    background-color: #505050;
    color: white;
}

#full-member {
    height: 300px;
    width: 33%;
    float: left;
    border-right: 6px solid #00BAC4;
    box-sizing: border-box;
    margin-top: 75px;
}

#lite-member {
    height: 300px;
    width: 33%;
    float: left;
    border-right: 6px solid #00BAC4;
    box-sizing: border-box;
    margin-top: 75px;
}

#flexi-member {
    height: 300px;
    width: 33%;
    float: left;
    margin-top: 75px;
}

#packages {
    text-align: center;
    font-size: 125%;
    font-weight: bolder;
}

#packages h2 {
    text-align: center;
    margin: 50px 0 50px 0;
    width: 75%;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

#packages p {
    line-height: initial;
    text-align: center;
    width: 75%;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80%;
}

#price-details h2 {
    width: 100%;
    height: 75px;
    background-color: #00BAC4;
    margin: 75px 0 75px 0;
    float: left;
    line-height: 75px;
    ;
}

#price-table {
    margin: 0 auto;
    width: 75%;
    padding-bottom: 75px;
}

#member-outro {
    height: 150px;
    width: 100%;
    float: left;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    margin: 75px 0 0 0;
}

/* contact page */

#contact-info {
    /* size and position */
    height: 150px;
    width: 100%;
    text-align: center;
    float: left;
    /* font */
    line-height: 150px;
    font-family: Lato, sans-serif;
    font-size: 200%;
    letter-spacing: 2px;
    /* color */
    background-color: #505050;
    color: white;
}

#opening-times {
    height: 300px;
    width: 33%;
    float: left;
    margin: 75px 0 75px 0;
    text-align: center;
    border-right: 6px solid #00BAC4;
    box-sizing: border-box;
}

#contact-us {
    height: 300px;
    width: 33%;
    float: left;
    margin: 75px 0 75px 0;
    text-align: center;
    border-right: 6px solid #00BAC4;
    box-sizing: border-box;
}

#feedback {
    height: 300px;
    width: 33%;
    float: left;
    margin: 75px 0 75px 0;
    text-align: center;
}

#contact-details {
    text-align: center;
    font-size: 125%;
    font-weight: bolder;
}

#contact-details h2 {
    text-align: center;
    margin: 50px 0 50px 0;
}

#contact-details p {
    line-height: initial;
    text-align: center;
}

#feedback-button {
    /* size and position */
    height: 40px;
    width: 200px;
    border-radius: 5px;
    /* font */
    font-family: Raleway, sans-serif;
    font-size: 100%;
    font-weight: bold;
    /* color */
    background-color: #00BAC4;
    color: #505050;
}

#feedback-button:hover {
    background-color: #505050;
    color: white;
}

/* map */

#find-us {
    /* size and position */
    height: 75px;
    width: 100%;
    text-align: center;
    float: left;
    /* font */
    line-height: 75px;
    font-size: 150%;
    /* colour */
    background-color: #00BAC4;
    color: #505050;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 300px;
    width: 100%;
    float: left;
    margin: 75px 0 75px 0;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 300px;
    width: 100%;
    float: left;
}

/* feedback page */

#feedback-header {
    height: 150px;
    width: 100%;
    text-align: center;
    float: left;
    background-color: #505050;
    font-family: Lato, sans-serif;
    font-size: 200%;
}

#feedback-header h2 {
    line-height: 150px;
    color: white;
    letter-spacing: 2px;
}

#feedback-header p {
    margin-top: 25px;
    font-size: 75%;
    font-weight: bolder;
}

#form {
    display: block;
    text-align: center;
}

#name {
    width: 440px;
    height: 30px;
    border: 2px solid #505050;
    border-radius: 10px;
    margin: 75px 5px 5px 5px;
    padding-left: 10px;
}

#email {
    width: 440px;
    height: 30px;
    border: 2px solid #505050;
    border-radius: 10px;
    margin: 5px;
    padding-left: 10px;
}

#feedback-input {
    width: 440px;
    height: 300px;
    border: 2px solid #505050;
    border-radius: 10px;
    margin: 5px;
    padding: 10px 0 0 10px;
}

::placeholder {
    font-family: Lato, sans-serif;
    font-weight: bold;
}

#submit-feedback {
    /* size and position */
    width: 454px;
    height: 32px;
    border-radius: 10px;
    margin: 5px 5px 75px 5px;
    /* font */
    font-family: Lato, sans-serif;
    font-weight: bold;
    /* colour */
    background-color: #00BAC4;
    color: #505050;
}

#submit-feedback:hover {
    background-color: #505050;
    color: white;
}

#feedback-background {
    background: url(../images/feedback-background.jpg) no-repeat center;
}

/* media queries */

/* for larger to medium screen size from 1200px wide and down */
@media screen and (max-width: 1200px) {

    /* homepage */
    .breakdown-headings p {
        font-size: 90%;
    }

    #top-right-text {
        padding: 120px 5% 0 5%;
        font-size: 130%;
    }

    #bottom-left-text {
        padding: 120px 5% 0 5%;
        font-size: 130%;
    }

    /* membership page */
    #packages p {
        font-size: 75%;
    }

    /* contact page */
    #contact-details p {
        font-size: 75%;
    }

}

/* for small screen sizes 750px and down */

/* homepage */

@media screen and (max-width: 750px) {
    #menu {
        float: left;
        padding-right: 20px;
        font-size: 75%;
        width: 100%;
    }

    #logo {
        width: 100%;
    }

    #hero-image {
        background: url(../images/hero-image.jpg) no-repeat -750px top;
    }

    #hero-text {
        text-align: left;
        position: absolute;
        width: 50%;
        font-size: 20px;
        left: 20px;
    }

    #welcome h2 {
        font-size: 80%;
    }

    #top-left-image {
        width: 90%;
        height: 350px;
    }

    #top-right-text {
        height: 150px;
        width: 90%;
        font-size: 16px;
        padding: 0 5% 0 5%;
        ;
    }

    .breakdown-headings {
        margin-top: 75px;
        font-size: 80%;
    }

    .breakdown-headings i {
        font-size: 40px;
    }

    #bottom-right-image {
        width: 90%;
        height: 350px;
        margin: 0;
    }

    #bottom-left-text {
        height: 150px;
        width: 90%;
        font-size: 16px;
        padding: 0 5% 0 5%;
        ;
    }

    /* classes page */

    #timetable {
        font-size: 100%;
    }

    /* membership page */
    #full-member {
        height: 100px;
        width: 100%;
        border-right: none;
        margin: 0;
    }

    #lite-member {
        height: 100px;
        width: 100%;
        border: none;
    }

    #flexi-member {
        height: 100px;
        width: 100%;
        margin-bottom: 75px;
    }

    #price-table {
        font-size: 60%;
        width: 90%;
    }

    #member-outro {
        font-size: 90%;
    }


    #membership {
        font-size: 100%;
    }

    /* contact page */
    #opening-times {
        height: 100px;
        width: 100%;
        border: none;
        margin-top: 0;
    }

    #contact-us {
        height: 100px;
        width: 100%;
        border: none;
        margin-top: 50px;
    }

    #feedback {
        height: 100px;
        width: 100%;
        margin-bottom: 75px;
    }

    #find-us {
        margin-top: 125px;
    }

    #contact-info {
        font-size: 100%;
    }

    /* feedback */
    #feedback-header {
        font-size: 150%;
    }

    #name {
        width: 60%;
    }

    #email {
        width: 60%;
    }

    #feedback-input {
        width: 60%;
    }

    #submit-feedback {
        width: 60%;
    }

}